* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #ffffff;
}

/* PAGE CENTER */
.login-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD */
.login-card {
    width: 850px;
    height: 420px;
    display: flex;
    background: #fff;
    box-shadow: 0 0 25px rgba(98, 74, 227, 0.5);
    border-radius: 6px;
    overflow: hidden;
    border: 2px solid #4b3cf5;
}

/* LEFT SIDE */
.login-left {
    width: 50%;
    padding: 50px;
}

    .login-left h2 {
        font-size: 28px;
        color: #1c1c8c;
        margin-bottom: 30px;
    }

.input-box {
    width: 100%;
    border: none;
    border-bottom: 2px solid #333;
    padding: 10px 5px;
    margin-bottom: 25px;
    font-size: 16px;
    outline: none;
}

    .input-box::placeholder {
        color: #444;
    }

/* LOGIN BUTTON */
.btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to right, #8a2be2, #4b0082);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

    .btn-login:hover {
        opacity: 0.9;
    }

/* SIGNUP TEXT */
.signup-text {
    margin-top: 20px;
    font-size: 14px;
}

    .signup-text a {
        color: #1c1c8c;
        font-weight: bold;
        text-decoration: none;
    }

/* RIGHT SIDE */
.login-right {
    width: 50%;
    background: linear-gradient(135deg, #6a5acd, #2c145a);
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 40% 100%);
    color: #fff;
    padding: 60px 40px;
    text-align: center;
}

    .login-right h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .login-right p {
        font-size: 15px;
        margin-left: 25%;
        line-height: 1.6;
    }