* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #ffffff;
    height: 100vh;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    width: 60%;
    height: 50%;
    display: flex;
    box-shadow: 0 0 25px rgba(0,0,0,0.2);
    border-radius: 6px;
    overflow: hidden;
}

/* LEFT PANEL */
.login-left {
    width: 50%;
    padding: 50px;
    background: #ffffff;
}

    .login-left h2 {
        color: #2c2c91;
        margin-bottom: 30px;
    }

.input-box {
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    padding: 10px 5px;
    margin-bottom: 25px;
    font-size: 16px;
    outline: none;
}

.btn-login {
    margin-top: 5%;
    width: 100%;
    background: linear-gradient(to right, #7b2ff7, #2c2c91);
    border: none;
    color: #fff;
    padding: 12px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

    .btn-login:hover {
        opacity: 0.9;
    }

.signup-text {
    margin-top: 20px;
    text-align: center;
}

    .signup-text a {
        color: #2c2c91;
        font-weight: bold;
        text-decoration: none;
    }

/* RIGHT PANEL */
.login-right {
    width: 60%;
    background: linear-gradient(135deg, #7b2ff7, #2c2c91);
    color: #fff;
    padding: 60px 40px;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

    .login-right h1 {
        font-size: 36px;
        margin-top: 13%;
        margin-left: 20%;
        margin-bottom: 20px;
    }

    .login-right p {
        font-size: 16px;
        
        margin-left: 20%;
        line-height: 1.6;
    }

/* REGISTER LEFT */
.register-left {
    width: 50%;
    background: linear-gradient(132deg, #7b2ff7, #2c2c91);
    color: #fff;
    padding: 60px 40px;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
}

    .register-left h1 {
        font-size: 36px;
        margin-top: 15%;
        margin-bottom: 20px;
    }

    .register-left p {
        font-size: 16px;
        line-height: 1.6;
    }

/* REGISTER RIGHT */
.register-right {
    width: 50%;
    padding: 50px;
    background: #ffffff;
}

    .register-right h2 {
        color: #2c2c91;
        margin-bottom: 30px;
    }
